.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  background-image: linear-gradient(to right bottom, rgb(230, 0, 125), rgb(231, 38, 71));
}

.blackbg {
  background-color: black;
  height: 100px;
  object-fit: contain;
}

.padbottom {
  margin-bottom: 15px;
}

.jumbotron {
  background-color: black;
  color: white;
  padding: 50px;
  margin-bottom: 20px;
}

.schedule1 {
  max-width: 4.8rem;
  /* flex-basis: 4.5rem; */
  flex-shrink: 0;
  line-height: 19px;
  margin-right: 1rem;
}

.schedule2 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ulsc {
  list-style: none;
  padding-left: 0px;
  text-align: left;
}

.ulsc li {
  margin: 0.25rem 0;
  display: flex
}

.nolinkstyle a {
  text-decoration: none;
  color:black
}

.white a{
  color:white !important;
  text-decoration: none;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: #e71368;
}

.nav-link {
  color:#e71368;
}

.nav-link:hover{
  color:#cc0655;
}

.btnsearch {
  border-color: rgb(230, 0, 125);
  background-color: rgb(230, 0, 125);
  height: 45px;
  border-top-right-radius: 30%;
  border-bottom-right-radius: 30%;
  cursor: pointer;
}

.btnsearch:active {
  background-color: rgb(196, 0, 108);
}